body{
    background:linear-gradient(rgba(29, 28, 28, 0.308), rgba(53, 51, 51, 0.349)), url('../images/royal_mint.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

/* splash screen css starts here  */
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #e4eff2 url("https://media.giphy.com/media/xTk9ZvMnbIiIew7IpW/giphy.gif") no-repeat center center;
    z-index: 99999;
}
/* splash screen css ends here  */

/* navbar css starts here  */
.bg-light{
    background: linear-gradient(rgba(29, 28, 28, 0.308), rgba(53, 51, 51, 0.349)), url('../images/royal_mint.jpg');
    box-shadow: 0px 0px 20px 3px  rgb(31, 4, 128);
}
.navbar-brand{
    font-weight: 700;
    font-size: 1.40rem;
    color: rgb(113, 81, 216)!important;
}
.navbar-brand span{
    font-weight: 700;
    font-size: 1.40rem;
    color: rgb(243, 236, 236)!important;
}
.navbar-brand:hover{
    color: rgb(243, 236, 236)!important;
}
.navbar-brand span:hover{
    color: rgb(113, 81, 216)!important;
}
.nav-item{
    padding: 0px 0px 0px 6px;
}
.nav-link{
    color: rgb(113, 81, 216)!important;
    font-weight: bold;
    border-radius: 10px;
}
.nav-link:hover{
    color: rgb(243, 236, 236)!important;
    background-color: rgb(113, 81, 216);
}
/* navbar css ends here  */

/* here content css starts here  */
.hero-content{
    height: 90vh;
    padding-bottom: 100px;
}
.hero-content h2 {
    color: rgb(113, 81, 216);
    font-size: 50px;
    font-weight: 700;
}
.hero-content h2 span {
    color: rgb(243, 236, 236);
}
.hero-content p{
    color: rgb(243, 236, 236);
    font-size: 30px;
    font-weight: 700;
    background:rgb(113, 81, 216);
    margin: 0px 300px;
}
.hero-content pre{
    color: rgb(113, 81, 216);
    font-size: 30px;
    font-weight: 700;
    background:rgb(243, 236, 236);
    margin: 0px 320px;
}
.home-btn{
    background-color:rgb(113, 81, 216)!important;
    color: rgb(243, 236, 236)!important;
    border: 3px solid rgb(243, 236, 236);
    font-weight: bold;
    border-radius: 10px;
    margin: 6px;
}
.home-btn:hover{
    background-color: rgb(243, 236, 236)!important;
    border: 3px solid rgb(113, 81, 216);
    color: rgb(113, 81, 216)!important;
}
.txt{
    color: rgb(243, 236, 236);
    font-weight: 500;
}
marquee{
    font-size: 40px;
    font-weight: bold;
    color: rgb(113, 81, 216);
}
/* here content css end here  */

/*customer details start*/
.table{
    text-align: center;
    background-color: rgb(243, 236, 236);
}
thead{
    background-color: rgb(113, 81, 216);
    color: rgb(243, 236, 236);
}
.blockquote{
    margin: 20px;
    color: rgb(243, 236, 236);
}
.btn{
    padding:5px 30px;
    background-color: rgb(113, 81, 216);
    border: 2px solid rgb(243, 236, 236);
    color: rgb(243, 236, 236);
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(243, 236, 236);
    border: 2px solid rgb(113, 81, 216);
    color: rgb(113, 81, 216);
}
.tr-data{
    margin-left: 10px;
}
.tr-data-txt{
    font-weight: normal;
}
#transfer-btn{
    display: none;
}
.swal-button{
    background-color: rgb(113, 81, 216);
}
/*customer details end*/

/*About starts*/
.about h1{
    text-align:center;
    margin-top:20px; 
    color:rgb(113, 81, 216);
}
.description p{
    font-size: 5vh;
    color: rgb(243, 236, 236);
    text-align: center;
}
.front{
    font-size:2vh;
    color: rgb(243, 236, 236);
    margin-left: 20px;
}
.front h1{
    font-size: 15px;
    font-weight: bold;
    color:rgb(243, 236, 236);
    background:rgb(113, 81, 216);
    padding-left: 10px;
    margin-right: 1010px;
    border-radius: 10px;
}
.front li{
    font-size: 16px;
    font-weight: bold;
    color: rgb(113, 81, 216);
    background: rgb(243, 236, 236);
    padding-left: 10px;
    margin-right: 1060px;
}
/*About end*/

/* footer css starts here */
footer{
    background: linear-gradient(rgba(29, 28, 28, 0.308), rgba(53, 51, 51, 0.349)), url('../images/royal_mint.jpg');
    box-shadow: 0px 0px 20px 3px  rgb(113, 81, 216);
}
footer p{
    color: rgb(243, 236, 236);
    font-size: 15px;
}
footer p strong{
    color: rgb(113, 81, 216);
}
.social-icons{
    padding: 0px;
}
.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}
.github{
    color: rgb(243, 236, 236);
}
.linkedin{
    color: rgb(243, 236, 236);
}
.github:hover{
    color: rgb(113, 81, 216);
}
.linkedin:hover{
    color: rgb(113, 81, 216);
}
/* footer css ends here  */
